body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f7ff;
}

.navbar{
  background-color: skyblue;
}

.title{
  color:white
}

/* --------- Time Component ----------- */
* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Lato', sans-serif; */
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  line-height: 10px;
  margin: 10px 30px;
  padding-top: 10px;
  position: relative;
  width: 20px;
  height: 20px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

 /* ------------------ End Time Component ------------------ */


 /* ------------------- Home Page ----------------------------- */

 .check-boxes label{
  /* margin:.5rem;
  padding:.1rem; */
  display:table-cell;
  /* float: none; */
  width: 25%;
 }

 /* .two label{width:50%} */
/* style only the second, the fourth, the sixth... */
.checkboxForm label:nth-child(2n+2){
    float:none;clear:both; /* clear the float, so the nexone will start in a new line */
    color:red; /* just to see the last one */
}
 
 .checkboxForm{
  float: left;
  width: 25%;
 }

 .countdown-wrapper{
   margin:0 6rem; 
   width:10rem
 }

 .foodInputBox, .timeInputBox{
   width:15rem;
   margin:2rem;
 }

 .foodList{
   display:flex;
   justify-content: center;
  width:90%;
 }

 /* .foodItemForm{
  display:flex;
  justify-content: center;
 } */

 .foodItemBtn{
  display:flex;
  justify-content: center;
 }

 .checkboxForm{
   display:flex;
   justify-content: center;
 }

 .tbody{
   margin:0rem 3rem;
 }