body {
  /* margin: 0;
  padding: 0; */
  width:auto;
  font-family: sans-serif;
  background-color: #f9f7ff;
}

.navbar{
  background-color: skyblue;
  /* background-color: #e40475; */
}

.title{
  color:white
}

/* --------- Time Component ----------- */
* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  line-height: 10px;
  margin: 10px 30px;
  padding-top: 10px;
  position: relative;
  width: 20px;
  height: 20px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

 /* ------------------ End Time Component ------------------ */


 /* ------------------- Home Page ----------------------------- */

 .check-boxes{
  margin:auto;
  padding:.4rem;
 }

 .checks {
  columns: 4 8em;
  vertical-align: middle;
  word-wrap: break-word;
  width:10rem;
  margin:auto;
  padding:.5rem;
}
 
 .checkboxForm{
  margin: 3rem;
  padding:2rem;
 }

 .countdown-wrapper{
   margin:0 6rem; 
   width:10rem
 }

 .foodInputBox, .timeInputBox{
   width:15rem;
   margin:2rem;
 }

 .foodList{
  display:flex;
  justify-content: center;
  width:90%;
  margin:1.5rem;
  font-size:16px;
 }

 .fruits{
   width:auto;
   /* background-color: red; */
 }

 /* .foodItemForm{
  display:flex;
  justify-content: center;
 } */


 /* ------------------------------- Buttons --------------------------------- */
 .foodItemBtn{
  display:flex;
  justify-content: center;
  margin:auto;
 }

 .login-btn{
   /* color:black; */
   font-weight: bold;
   position: absolute;
   display:flex;
   /* align-items: center; */
   justify-content: center;
   top:7rem;
   width:6rem;
   font-family: 'Quicksand', sans-serif;

 }

 .login-btn-2{
  font-weight: bold;
  position: absolute;
  display:flex;
  /* align-items: center; */
  justify-content: center;
  top:10rem;
  width:6rem;
  font-family: 'Quicksand', sans-serif;

 }

 .signup-btn{
  display:flex;
  /* align-items: center; */
  justify-content: center;
  margin-left:4.5rem;
}

.signup-btn-2{
  color:#e40475;
  margin-left:4.5rem;
  text-shadow:white .08rem .09rem .09rem
}

.pw-forget-btn{
  margin-left:2rem;
}

 /* -------------------------------- Tabs ----------------------------------- */

 .tab{
  /* background-color: #302387 !important; */

 }
 .tabs{
   display:flex;
   justify-content: center;
   margin:auto;

   /* padding:1rem; */
 }  

 .tab-list{
  display:flex;
  justify-content: center;
  /* background-color: hsl(58, 16%, 40%); */
 }

 .t-fridge{
   /* background-color:; */
 }

 .food-list{
   background-color: #f8c43a;
   color:black;
   font-weight: bold;
 }

 /* -----------Landing Page----------  */
 .center{
   display:flex;
   justify-content: center;
 }

 .invisible{
    /* background:none; */
    /* border:none; */
 }

.title{
  /* font-family: 'Mansalva', cursive; */
  font-family: 'Lakki Reddy', cursive;

  display:flex;
  align-content: center;
  color:#f9f8eb;
  color:#e40475;
  text-shadow: white .4rem .4rem .5rem;
  font-size:4.5rem;
  margin-bottom: -.5rem;
}

.sub-title{
  font-family: 'Play', sans-serif;
  display:flex;
  justify-content: left;
}

.intro{
  margin-top:1.5rem;
}

.intro-text{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: left;
  color:#f8c43a;
  padding:.5rem;
  margin-right:5rem;
  font-size:1.8rem;
}

.landing-page{
  background-color: teal;
  padding:2rem 0;
}

.fridge{
  display:flex;
  align-content: center;
}

/* .sign-in{
  position: absolute;
  display:flex;
  justify-content: center;

} */

.login{
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right:5rem;
}

.sign-in-div{
  position: absolute;
  display:flex;
  justify-content: center;
  margin-top:1.9rem;
}

.sign-up-div{
  position: absolute;
  display:flex;
  justify-content: center;
  margin-top:3.3rem;
}

.pw-forget-div{
  position: absolute;
  display:flex;
  justify-content: center;
  margin-top:2rem;
}



.signin-text{

}
.error{
  width:15rem;
  font-size:12px;
  color:red;
  margin-top:3rem;
  margin-bottom:-1rem;
  background-color: white;
}
.error-password{
  width:15rem;
  font-size:14px;
  color:red;
  margin-top:1rem;
  margin-bottom:-1rem;
}



/* ----------- Door Open Animation ---------------- */

.backDoor
{
  background-color: white;
  width:10rem;
  /* position:relative; */
  /* width:200px;
  height:300px; */
  
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  /* background-color: brown; */
  /* position:absolute; */
  /* top:0px;
  left:0px; */
  /* width:200px;
  height:300px; */
  /* -webkit-transform-origin: right; */
  
  transform-origin: right; 
  /*Speed of the Door animation*/
  transition: all 3.5s ease-in-out;
}

.doorOpen
{
  /* prespectiv creates the door open effect*/ 
  /* transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-120deg); */
}